<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    
    <!-- DataSource -->
    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
        id="dataSource">
        <property name="driverClassName" value="${database.driver}"></property>
        <property name="url" value="${database.url}"></property>
        <property name="username" value="${database.user}"></property>
        <property name="password" value="${database.password}"></property>
    </bean>
 
    <!-- Hibernate SessionFactory -->
    <bean id="hibernate5AnnotatedSessionFactory"
        class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        
        <property name="dataSource" ref="dataSource"></property>
            <property name="annotatedClasses">
			<list>
				<value>assignment3.model.Users</value>
				<value>assignment3.model.Quiz</value>
                                <value>assignment3.model.Quiz_question</value>
			</list>
            
            </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
            </props>
        </property>
        <property name="packagesToScan" value="assignment3.model"></property>
    </bean>
 
    <bean id="userDAO" class="assignment3.dao.UserDAOimpl">
	
    </bean>
 
    <bean id="userService" class="assignment3.service.UserServiceImpl">
	
    </bean>
    
    <bean id="quizDAO" class="assignment3.dao.QuizDAOImpl">
	
    </bean>
 
    <bean id="quizService" class="assignment3.service.QuizServiceImpl">
	
    </bean>
 
 
    <!-- Transaction -->
    <bean id="transactionManager"
        class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory" />
    </bean>
 
    <tx:annotation-driven transaction-manager="transactionManager" />
</beans>